body {
	height: 100%;
	background-color: black;
	background: rgba(0,0,0,0.5);
	font-family: "Playfair Display SC";
	font-size: 19px;
}

.Apresentacao-Campeao{
	position: absolute;
	top: 50px;
	width: 250px;
	height: 560px;
	background-color: #000000;
	color: #B78A29;
}

.sketchfab-embed-wrapper{
	float: right;
	margin-right: 180px;
	margin-top: 50px;
}

.titulo-campeao{
    margin-left: 18%;
}

.imagem-campeao{
    margin-left: 25%;
}

.texto-info p{
	margin-top: 25px;
	margin-left: 20px;
    margin-right: 20px;
	font-size: 15px;
	text-align: center;
}