body {
	margin: 0;
	padding: 0;
	background-image: url(imagens/Background.png);
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: Playfair Display SC;
	font-size: 19px;
}

.header{
	height: 260px;
	width: 100%;
	position: absolute;
	background: url(imagens/textura-superior.png) no-repeat;
}

#logo-home{
	position: absolute;
	left: 40%;
	top: 25%; 
}

#menu-topo{
	position: absolute;
    width: 580px;
    height: 80px;
    line-height: 140px; 
    margin: 0 auto;
        }
     	
     	/*menu topo esquerda */

        ul.menu-esquerda{
            text-align: left; 
        }
        ul.menu-esquerda li{
            display: inline-block;
            margin-left: 10px;
            margin: 0 0px;
        }
        ul.menu-esquerda li a{
            padding: 8px 8px;
            color: #B78A29;
        }
        ul.menu-esquerda li a:hover{
            background-color: #059CC8;
        }

        /*Menu topo direita*/

        ul.menu-direita{
        	margin-top: -158px;
        	margin-right: -515px;
            text-align: right; 
        }
        ul.menu-direita li{
            display: inline-block;
            margin: 0 0px;
        }
        ul.menu-direita li a{
            padding: 8px 8px;
            color: #B78A29;
        }
        ul.menu-direita li a:hover{
            background-color: #059CC8;
        }

.imagem-busca{
	position: absolute;
    margin-right: -2430px;
}

.slider{
	width: 100%; 
	height: 300px;
}