body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url(imagens/Background.png);
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: Playfair Display SC;
	font-size: 19px;
}

.header{
	height: 240px;
	width: 100%;
	position: fixed;
	background: url(imagens/textura-superior.png) no-repeat;
}

#logo-home{
    z-index: 100;
	position: absolute;
	left: 40%;
	top: 10%; 
}

.menu-topo{
    color: #B78A29;
    z-index: 500;
    list-style: none;
    text-decoration: none;
    position: absolute;
    line-height: 70px; 
    margin: 0 auto;
    padding: auto;
        }
     	
     	/*menu topo esquerda */

        ul.menu-esquerda{
            text-align: left; 
        }
        ul.menu-esquerda li{
            position: relative;
            float: left;
            display: inline-block;
            margin: 0 0px;
        }
        ul.menu-esquerda li a{
            padding: 8px 8px;
            color: #B78A29;
            text-decoration: none;
            padding: 0 8px 0 8px;
            display: inline-block;
        }

        ul.menu-esquerda li ul li a{
            position: absolute;
            float: left;
            top: 25px;
            left: 0;
            display: none;
        }

        ul.menu-esquerda li a:hover, .submenu-esquerda li.over{
            background-color: #059CC8;
            color: #ffffff;
            display: block;
        }

        /*Menu topo direita*/

        ul.menu-direita{
            margin-left: 750px;
            text-align: right; 
        }
        ul.menu-direita li{
            position: relative;
            float: right;
            display: inline-block;
            margin: 0 0px;
        }
        ul.menu-direita li a{
            padding: 8px 8px;
            color: #B78A29;
            text-decoration: none;
            padding: 0 8px 0 8px;
            display: inline-block;    
        }

        ul.menu-direita li ul li a{
            position: absolute;
            float: right;
            top: 25px;
            left: 0;
            display: none;
        }

        ul.menu-direita li a:hover, .submenu-direita li.over{
            background-color: #059CC8;
            color: #ffffff;
            display: block;
        }

/* Botao Busca */

.divBusca{
    margin-top: 30px;
    float: right;
    margin-right: 60px;
    background-color: transparent;
    width:50px;
}
 
.MostrarBusca{
    display: none;
    float: left;
    background-color: transparent;
    padding-right:5px;
    font-style: italic;
    font-size: 16px;
    border:none;
    height: 40px;
    width: 180px;
}

    .btnBusca:hover{
    height: 60px;
}

    .MostrarBusca:target {
    display: block;
}

/* Conteúdo */

.slider-texto{
    font-size: 13px;
	color: #B78A29;
	height: 20px; 
	width: 500px;
}

.square{
	top: 180px;
	left: 0;
	z-index: 5;
	position: fixed;
	margin-left: 0px;
	padding-left: 0px;
	width: 480px;
	height: 210px;
	background-color: rgba(0,0,0,0.55);
}

.square h1, h3{
	padding-left: 50px;
}

.slider{
	width: 100%; 
	height: 250px;
}

.btcinza-1{
    font: bold 20px "Playfair Display SC";
	text-align: left;
    margin-left: 50px;
    margin-top: 10px;
    background-image: url(imagens/bg-botao-cinza-meio.png);
    background-repeat: repeat-x;
    background-position: center;
    line-height: 55px;
    display: inline-block;
}

a.btcinza-1:before, a.btcinza-1:after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 56px;
    vertical-align: middle;

}
a.btcinza-1:before{

    background: url(imagens/bg-botao-cinza-esquerdo.png) top left no-repeat;

}
a.btcinza-1:after{

    background: url(imagens/bg-botao-cinza-direita.png) top right no-repeat;

}

#imagem1{
	margin-top: 70px;
    width: 100%;
}

		/* Social Media Rodapé */

#riot{
    margin-right: 500px;
    margin-left: 55px;
    margin-top: -350px;
}

 		ul.social-media{
 			margin-top: 1px;
        	margin-left: 5px;
            text-align: left; 
        }
        ul.social-media li{
            display: inline-block;
            margin: 0 0px;
        }
        ul.social-media li a{
            padding: 1px 1px;
            color: #B78A29;
        }
        ul.social-media li a:hover{
            background-color: transparent;
        }

.bt-maior{
    color: #ffffff;
    z-index: 100;
    position: relative;
    text-align: center;
    margin-top: 600px;
}

.btlaranja{
	font: bold 23px "Playfair Display SC";
	text-align: center;
    background-image: url(imagens/botao-central-meio.png);
    background-repeat: repeat-x;
    background-position: center;
    line-height: 55px; 
    display: inline-block;
}
a.btlaranja:before, a.btlaranja:after {
    content: '';
    display:inline-block;
    width: 30px;
    height: 56px;
    vertical-align: middle;

}
a.btlaranja:before{

    background: url(imagens/botao-central-esquerdo.png) top left no-repeat;

}
a.btlaranja:after{

    background: url(imagens/botao-central-direita.png) top right no-repeat;

}


		ul.menu-simples-footer{
            margin-right: 100px;
            position: relative;
            text-align: center;
            font-size: 13px;
            margin-top: 160px;
            top: 55px;
        }
        ul.menu-simples-footer li{
            display: inline-block;
            margin: 0 0px;
        }
        ul.menu-simples-footer li a{
            padding: 8px 8px;
            color: #ffffff;
        }
        ul.menu-simples-footer li a:hover{
            font: #059CC8;
        }

.texto-copy-right{
			height:50px;
			width:640px;
			float: left;
			position: relative;
            text-align: center;
            font-size: 13px;
			margin-left: 280px; 
            top: 65px;
            color: #ffffff;
}

#pvp{
	float: right;
    margin-left: 1000px;
    margin-top: -150px;
    margin-right: 20px;
}

.footer{
	bottom: -540px;
	width: 100%;
    height: 392px;
	position: absolute;
	background: url(imagens/textura-inferior.png) no-repeat;
}